*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

main {
  position: relative; }

section {
  margin-top: 8rem;
  min-height: 30rem; }

.icon-lg {
  font-size: xx-large;
  padding: 1rem; }

.elem--header {
  color: #eee; }

.h-primary {
  padding: 0rem 1rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #0896f9, #321766);
  display: inline-block;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent; }

.outer-skew {
  transform: skewY(-7deg);
  background-image: linear-gradient(to bottom right, #0896f9, #321766), url("../../imgs/dj_mouse-wallpaper-1920x1080.jpg");
  margin-top: 18rem;
  margin-bottom: 18rem; }

.inner-skew {
  transform: skewY(7deg);
  margin: 10rem 0;
  color: #eee;
  z-index: 22; }

footer {
  background-image: linear-gradient(to bottom right, #0896f9, #321766);
  padding: 7rem;
  color: #eee; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  height: -webkit-fill-available;
  width: -webkit-fill-available; }

/* reused classes */
.flex-h {
  display: flex;
  justify-content: center; }

.flex-v {
  display: flex;
  align-items: center; }

.flex-a {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-box {
  text-align: center;
  backface-visibility: hidden; }

.elem--header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-transform: uppercase;
  text-align: justify; }

.top-arrow {
  background-color: #080808;
  width: 5rem;
  color: #eee;
  border-radius: 50%;
  position: fixed;
  z-index: 99999;
  right: 2rem;
  bottom: 5rem; }

#to-top {
  display: none; }

.shadow {
  box-shadow: 2px 2px 10px 1px #080808; }

.text-basic-shadow {
  text-shadow: 2px 2px 10px #080808; }

.text-shadow {
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.h-big__header {
  color: #eee;
  font-weight: 700;
  font-size: 3.5rem; }

.bg-white {
  background-color: #fff;
  padding: 3rem; }

.h-20 {
  height: 20rem; }

.h-30 {
  height: 30rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-15 {
  margin-top: 15rem; }

.mt-20 {
  margin-top: 20rem; }

.float-bottom {
  padding: 6rem 10rem;
  background-color: #fff;
  color: #080808;
  bottom: -10rem; }

.elem-bottom {
  padding: 6rem 10rem;
  margin-top: 16rem;
  background-color: #fff;
  color: #080808; }

.user-profile {
  height: 30rem;
  padding: 2rem; }
  .user-profile img {
    margin-top: 0.5rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%; }

.user-quote {
  height: 30rem;
  background-color: aliceblue;
  border-top-left-radius: 14rem;
  border-bottom-left-radius: 14rem;
  padding: 3rem 3rem 0 3rem;
  color: #080808; }

.btn-smart {
  padding: 2rem;
  min-width: 15rem;
  border-radius: 20rem; }

.btn-smart-bl {
  padding: 2rem;
  min-width: 15rem;
  border-bottom-left-radius: 20rem; }

.underline-parent {
  position: relative; }

.underline::after {
  content: "";
  border: 1px solid grey;
  bottom: -2rem;
  left: 0;
  width: 100%;
  position: absolute; }

.btn-animate__white {
  min-width: 19rem;
  padding: 1.3rem;
  border-radius: 15rem;
  font-weight: 700; }

.img-around {
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  overflow: hidden; }
  .img-around img {
    height: inherit; }

.flex {
  display: flex; }
  .flex__order1 {
    order: 1; }
  .flex__order1 {
    order: 2; }
  .flex__order1 {
    order: 3; }
  .flex__order1 {
    order: 4; }

.h-available {
  height: -webkit-fill-available; }

.pr-5 {
  padding-right: 15px; }

.mr-5 {
  margin-right: 15px; }

.pl-5 {
  padding-left: 15px; }

.filter-search input {
  border-radius: 2.2rem;
  border: .1rem solid grey;
  padding: .4rem 1.4rem; }

.green {
  background-color: #6fb936; }

.thumb {
  margin-bottom: 30px; }

.page-top {
  margin-top: 85px; }

img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.icard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 60rem;
  position: relative; }
  .icard__side {
    background-color: #0896f9;
    color: #fff;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 60rem;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all .9s ease; }
    .icard__side--2 {
      transform: rotateY(-180deg); }
      .icard__side--2--01 {
        background-image: linear-gradient(to top right, #33FFBD, #33FF57); }
      .icard__side--2--02 {
        background-image: linear-gradient(to top right, #F4D03F, #FF5733); }
      .icard__side--2--03 {
        background-image: linear-gradient(to top right, #154360, #9B59B6); }
  .icard:hover .icard__side--1 {
    transform: rotateY(180deg); }
  .icard:hover .icard__side--2 {
    transform: rotateY(0); }
  .icard__picture {
    height: 25rem;
    background-size: cover;
    -webkit-background-blend-mode: color;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .icard__picture--1 {
      background-image: linear-gradient(to top right, #33FFBD, #33FF57), url("../../imgs/black_skull-wallpaper-2560x1440.jpg"); }
    .icard__picture--2 {
      background-image: linear-gradient(to top right, #F4D03F, #FF5733), url("../../imgs/abstract_maze_2-wallpaper-1920x1080.jpg"); }
    .icard__picture--3 {
      background-image: linear-gradient(to top right, #154360, #9B59B6), url("../../imgs/dj_mouse-wallpaper-1920x1080.jpg"); }
  .icard__heading {
    position: absolute;
    right: .5rem;
    top: 20rem;
    text-transform: uppercase;
    font-size: 3.4rem; }
  .icard__heading--span {
    padding: .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .icard__heading--span--1 {
      background-image: linear-gradient(to top left, rgba(51, 255, 189, 0.8), rgba(51, 255, 87, 0.8)); }
    .icard__heading--span--2 {
      background-image: linear-gradient(to top left, rgba(244, 208, 63, 0.8), rgba(255, 87, 51, 0.8)); }
    .icard__heading--span--3 {
      background-image: linear-gradient(to top left, rgba(21, 67, 96, 0.8), rgba(155, 89, 182, 0.8)); }
  .icard__details {
    text-align: center;
    padding-top: 2rem; }
    .icard__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .icard__details ul li {
        text-align: center;
        padding: 1rem;
        color: #fff;
        font-size: 1.5rem; }
        .icard__details ul li:not(:last-child) {
          border-bottom: 1px solid #80c891; }
  .icard__link {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: x-large; }
  .icard__payment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .icard__payment .btn-book {
      padding: 3rem; }
  .icard__price--value {
    font-size: xx-large;
    font-weight: 400; }

.card_hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 35rem;
  background: #000; }

.card_hover .image {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.card_hover .image img {
  width: 100%;
  transition: .5s; }

.card_hover:hover .image img {
  opacity: .5;
  transform: translateX(30%);
  /*100%*/ }

.card_hover .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: #ffc107;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg); }

.card_hover:hover .details {
  transform: perspective(2000px) rotateY(0deg); }

.card_hover .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.card_hover .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase; }

.card_hover .details .center h1 span {
  font-size: 14px;
  color: #262626; }

.card_hover .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626; }

.card_hover .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table; }

.card_hover .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left; }

.card_hover .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s; }

.card_hover .details .center ul li a:hover {
  background: #ff3636; }

blockquote {
  border-left: none; }

.user-feedback {
  height: 30rem; }

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2); }

.quote-box {
  overflow: hidden;
  background-color: #4ADFCC;
  color: white;
  height: 30rem;
  box-shadow: 2px 2px 2px 2px #E0E0E0; }

.quotation-mark {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 7.5rem;
  color: white;
  font-family: "Times New Roman", Georgia, Serif; }

.quote-text {
  font-size: 19px; }

.page-banner {
  position: relative;
  background: url(https://www.fillmurray.com/300/900) center center no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  /* hide overflowing bits of circle */
  min-height: 95vh;
  /* just give enough height to fit text at smallest screen width size */ }

.circle {
  background-color: #0896f9;
  /* use rgba for transparent effect */
  color: white;
  transform: translate(-50%, -50%);
  /* move the circle left 50% of it's own width and up 50% of it's own height */
  border-radius: 50%;
  padding-top: 100%;
  /* this gives us a responsive square */
  position: absolute;
  top: 50%;
  /* this vertically centers the circle */
  left: 0;
  width: 100%;
  min-width: 40%;
  /* this is the miniimum dimensions to allow circle to fill smaller screens */
  min-height: 95vh;
  z-index: 22; }

.page-banner-text {
  position: absolute;
  /* just positions the text on the right of the cirecle */
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em;
  width: 40%; }

.banner-images {
  top: 4rem;
  background: #0896f9;
  position: absolute;
  max-width: 65%;
  right: 0;
  height: 85vh; }

@media screen and (max-width: 750px) {
  .banner-images {
    max-width: 85% !important; } }

.arrow-left-carousel span,
.arrow-right-carousel span {
  position: absolute;
  opacity: 1;
  right: 4rem;
  bottom: 11rem;
  background: #0caabf;
  border-radius: 34rem;
  padding: 2rem; }

.arrow-left-carousel span {
  right: 16rem;
  bottom: 9rem;
  background: #0caabf;
  border-radius: 34rem;
  padding: 2rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(8, 150, 249, 0.8), rgba(50, 23, 102, 0.8)), url("../imgs/2_clouds_and_purple_background-wallpaper-2560x1440.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  backface-visibility: hidden; }

.navbar {
  border: 0; }

.nav {
  margin: -95vh 0 0 0;
  height: 50px;
  width: 100%;
  background-color: #0896f9;
  position: fixed;
  z-index: 999; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px; }

.nav > .nav-btn {
  display: none; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px; }

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #435354; }

.nav > .nav-links > a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3); }

.nav > #nav-check {
  display: none; }

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3); }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .nav > .nav-links > a {
    display: block;
    width: 100%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

.navtabs {
  padding-left: 1rem;
  margin-bottom: 6rem;
  list-style: none;
  padding: 3rem; }
  .navtabs li a {
    padding: 1rem; }

.about {
  margin-bottom: 2rem; }

.diy_benefits--list {
  padding-left: 10rem; }

.diy_membership {
  margin-top: 15rem; }

.contacts__location {
  box-shadow: 2px 2px 10px 1px #080808;
  height: 40rem;
  width: 99%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: #0896f9;
  background-color: #55678a2b; }

.contacts__details {
  box-shadow: 2px 2px 10px 1px #080808;
  height: 40rem;
  width: 99%;
  padding: 10px;
  border-radius: 5px;
  background-color: #55678a2b; }

.contacts__bg {
  background-image: url("../../imgs/camouflage_desktop-wallpaper-2560x1440.jpg");
  background-size: cover;
  background-position: center;
  padding: .51rem; }
  .contacts__bg--shadow {
    box-shadow: 2px 2px 73px 1px #080808;
    padding: 6rem 0; }

.gallery {
  margin: 3rem; }

.activities__about {
  margin: 14rem 0;
  font-size: 1.6rem; }
  .activities__about--btn {
    margin-left: 3rem;
    margin-top: 4rem; }
  .activities__about__img--top {
    margin-top: -11rem; }
    @media only screen and (max-width: 770px) {
      .activities__about__img--top {
        display: none; } }

.activities_container {
  position: relative; }
  .activities_container__header h3 {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #0896f9, #321766);
    display: inline-block;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent; }
  .activities_container__box--tab {
    position: relative;
    height: 30rem; }
    .activities_container__box--tab--item {
      width: 72%;
      height: -webkit-fill-available; }
      .activities_container__box--tab--item--img {
        height: 20rem;
        background-image: url("../../imgs/black_skull-wallpaper-2560x1440.jpg");
        background-size: cover;
        background-position: top center; }
      .activities_container__box--tab--item h3 {
        margin: 1rem 0 0 3rem; }
        .activities_container__box--tab--item h3 span {
          border-bottom-left-radius: 0rem;
          border-bottom: .1rem solid;
          padding: 2rem; }
  .activities_container__box--side {
    position: absolute;
    height: inherit;
    top: -3rem;
    width: 35%;
    background-image: linear-gradient(to right bottom, #0896f9, #321766);
    right: -3rem; }
    .activities_container__box--side ul {
      width: -webkit-fill-available;
      margin: 0; }
    @media only screen and (max-width: 770px) {
      .activities_container__box--side {
        display: inline;
        top: 23rem;
        width: fit-content;
        height: fit-content;
        right: 0; } }
  .activities_container__details {
    padding: 1rem; }
    .activities_container__details--head h3 {
      position: relative;
      padding-bottom: 5rem; }
      .activities_container__details--head h3 span {
        padding: 1.7rem;
        min-width: 11rem;
        color: #fff;
        background-image: linear-gradient(to left bottom, #0896f9, #321766);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
        text-align: -webkit-right; }
    .activities_container__details--text {
      text-align: -webkit-right;
      margin-top: 4rem; }
    @media screen and (max-width: 700px) {
      .activities_container__details {
        margin-top: 10rem; } }
  .activities_container__more {
    border-top: 2px solid gainsboro;
    margin: 6rem; }
    .activities_container__more span {
      font-weight: 600;
      font-size: 2rem; }

.activities_cat {
  margin: 10rem 0; }

.search {
  position: relative;
  margin: 0 0 7rem 0; }
  .search-smart {
    border-radius: 4rem;
    width: 24rem;
    padding: .7rem; }

.event-card {
  height: 41rem;
  margin: 1rem 0; }
  .event-card__inner {
    margin: 1rem;
    background-color: #080808;
    height: 98%;
    position: relative;
    overflow: hidden;
    transform: all 1s ease; }
    .event-card__inner:hover .event-card__inner--textlink {
      top: 10%; }
    .event-card__inner--textlink {
      position: absolute;
      text-align: -webkit-center;
      left: 50%;
      transform: translateX(-50%);
      top: 100%; }
      .event-card__inner--textlink h4 button {
        position: absolute;
        top: 2rem; }

.booking {
  margin-bottom: 12rem; }

.events-booking .outer-layer {
  background-image: url("../../imgs/camouflage_desktop-wallpaper-2560x1440.jpg");
  background-size: cover;
  padding: 4rem 0; }

#contact-form {
  margin-bottom: 2rem; }

.event-cardbox {
  border: 1px solid grey;
  padding: 13px 10px;
  border-radius: 11px;
  height: 16rem;
  margin-bottom: 2rem; }

.event-details {
  display: -webkit-box; }

.event-img {
  overflow: hidden; }
  .event-img img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%; }

.event-dated {
  padding-left: 3rem; }

.event-date {
  padding-bottom: 2rem; }

.event-organiser {
  padding: 0 .2rem 1rem 4.5rem;
  margin-top: -1rem; }

.event-more button {
  padding: 1rem; }

.tabs-events {
  margin: 2rem 0 0 0; }

.tools-box {
  margin-top: 2rem;
  border-top: 1px solid grey;
  padding: 6px; }

.tools-details__images {
  margin: 2rem 0 0 2rem;
  position: relative;
  height: 25rem;
  overflow: hidden; }
  .tools-details__images--1 {
    position: absolute;
    top: 3rem;
    left: 6rem;
    z-index: 0;
    transition: all 1s ease-in; }
    .tools-details__images--1 img {
      height: 20rem;
      width: 25rem; }
    .tools-details__images--1:hover {
      z-index: 22;
      cursor: pointer;
      outline: 0.9rem solid #0896f9;
      outline-offset: .6rem; }
  .tools-details__images--2 {
    position: absolute; }
    .tools-details__images--2 img {
      height: 20rem;
      width: 25rem; }
  .tools-details__images--3 {
    position: absolute;
    left: 3rem;
    top: -4rem; }
    .tools-details__images--3 img {
      height: 20rem; }

.tools-details__descp {
  padding: 2rem;
  position: relative; }
  .tools-details__descp--header h4 span {
    padding: 1rem 2rem;
    border-bottom: .2rem solid grey; }
  .tools-details__descp--text {
    margin-top: 2rem; }
  .tools-details__descp--more {
    margin-top: 4rem;
    margin-right: 6rem; }
    .tools-details__descp--more button {
      background-color: #0896f9;
      color: #fff;
      padding: 1rem; }

.banner-bottom-contain {
  background-color: #0896f9;
  min-height: 30rem; }
  .banner-bottom-contain__box1, .banner-bottom-contain__box2 {
    margin-top: 5rem;
    height: 25rem; }
  .banner-bottom-contain__subscribe form #subscribe {
    border: .1rem;
    border-radius: 40rem;
    padding: 1rem 3rem;
    width: -webkit-fill-available; }
  .banner-bottom-contain__subscribe form p {
    font-size: large;
    text-transform: uppercase;
    font-weight: 500; }
  .banner-bottom-contain__subscribe form div {
    margin-top: 2rem;
    backface-visibility: hidden;
    transition: all 1s ease-in; }
    .banner-bottom-contain__subscribe form div:hover {
      transform: translateY(-0.5rem); }
    .banner-bottom-contain__subscribe form div input {
      background-color: #321766;
      color: #fff;
      padding: 1rem 0;
      transition: all 1s ease-in; }
      .banner-bottom-contain__subscribe form div input:hover {
        color: white; }
  .banner-bottom-contain__quicklinks, .banner-bottom-contain__selfservice {
    padding: 1rem; }
    .banner-bottom-contain__quicklinks ul, .banner-bottom-contain__selfservice ul {
      list-style: none; }
      .banner-bottom-contain__quicklinks ul li, .banner-bottom-contain__selfservice ul li {
        padding: .5rem 0; }
        .banner-bottom-contain__quicklinks ul li a, .banner-bottom-contain__selfservice ul li a {
          text-decoration: none;
          color: white; }
  .banner-bottom-contain__selfservice {
    padding: 1rem; }
