


@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}


@mixin bg-text($color-1, $color-2) {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, $color-1, $color-2);
  display: inline-block;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}