

// DIY COLORS
$color-primary: #0896f9;
$color-secondary:  #321766;
$color-grey-white: #eee;
$color-white: #fff;
$color-grey-dark: rgb(158, 157, 157);
$color-dark: #080808;
$color-green: #33FF57;
$color-blue: #33FFBD;
$color-grey-blue: #80c891;
$color-yellow: #F4D03F;
$color-brown: #FF5733;
$color-pink: #9B59B6;
$color-dark-blue: #154360;